TOKEN=
GUILD_ID=
STORE_NAME=
ADMIN_ROLE_ID=
TICKET_CATEGORY_ID=
LOG_CHANNEL_ID=
TRANSCRIPT_CHANNEL_ID=
BACKUP_CHANNEL_ID=
ERROR_LOG_CHANNEL_ID=
MIDMAN_CHANNEL_ID=
VILOG_CHANNEL_ID=
ROBUX_CATALOG_CHANNEL_ID=
ML_CATALOG_CHANNEL_ID=
SELFROLES_CHANNEL_ID=
DANA_NUMBER=
BCA_NUMBER=
GEMINI_API_KEY=
AI_CHANNEL_ID=